extends ../layout

block content
  h1
    New Game
  form(method="post", action="")
    input(type="text", name="team1name", placeholder="team1name", value="#{game?game[0].teams[0].name:''}")
    input(type="text", name="team1score", placeholder="team1score", value="#{game?game[0].teams[0].score:''}")
    input(type="text", name="team2name", placeholder="team2name", value="#{game?game[0].teams[1].name:''}")
    input(type="text", name="team2score", placeholder="team2score", value="#{game?game[0].teams[1].score:''}")
    input(type="text", name="headRef", placeholder="headRef", value="#{game?game[0].headRef:''}")
    input(type="text", name="duration", placeholder="duration", value="#{game?game[0].duration:''}")
    input(type="submit")